@import './config';
@import url('https://use.typekit.net/ecn0vjp.css');


* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  width: 100vw;
  background-color: #fff;
}

#navbar-brand {
  color: $primary-color;
  @include brand-font(chuck, 400, normal);
}

.navbar-buttons {
  background-color: $primary-color;
  color: #fff;

  &:hover {
    background-color: #f1f1f1;
    color: #010101;
  }
}

#login-modal-register-opt {
  text-align: center;
  font-size: 0.75rem;
  margin: 0em;
  padding: 0em;
}

#login-modal-forgotpass {
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 0em;
}

.banner {
  height: 60vh;
  margin-top: 3rem;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: center center;
  background-color: white;
}

#banner-pic {
  display: flex;
  margin-left: 10vw;
  justify-content: right;
  position: absolute;
  height: 40vh;
}

#banner-title {
  display: flex;
  margin-top: 8rem;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0em;

  h1 {
    font-size: 5vh;
  }

}

.feature-description {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 10rem;
}

.feature-description-2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 10rem;
}

.pricing-section {
  width: 100vw;
  align-items: center;
  justify-content: center;
  // margin-left: auto;

}

.pricing-cards {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pricing-card {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  } 
}

.list-group-flush {
  display: flex;
}

.basic-card {
  height: 4rem;
}

.card-footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #282c34;
  color: whitesmoke;
}