@import './config';
@import url('https://use.typekit.net/ecn0vjp.css');


* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  width: 100vw;
  background: transparent;
}

#navbar-brand {
  color: $primary-color;
  @include brand-font(chuck, 400, normal);
}

.navbar-buttons {
  background-color: $primary-color;
  color: #fff;

  &:hover {
    background-color: #f1f1f1;
    color: #010101;
  }
}

#login-modal-register-opt {
  text-align: center;
  font-size: 0.75rem;
  margin: 0em;
  padding: 0em;
}

#login-modal-forgotpass {
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 0em;
}

.banner {
  @media(min-width: 768px){
    background-image: url('./images/banner-background.svg');
    background-repeat: no-repeat;
    // background-size: 80%;
    // height: 85vh;
  }

  @media(max-width: 500px){
    background-image: url('./images/phone-banner-bg.png');
    background-repeat: no-repeat;
    background-size: 120%;
  }
  
  // height: 50vh;
  // margin-top: 3rem;
  // margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: center center;
  background-color: white;
}

#banner-pic {
  margin-top: 2rem;
  justify-content: right;
  height: 100%;
  width: 100%;
  
}

#banner-title {
  @media(max-width: 500px){
    margin-top: 5rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media(min-width: 768px){
    margin-top: 5rem;
    margin-bottom: 0em;
    font-size: 10vh;
    // display: flex;
  }


  h1 {
    font-size: 5vh;
    font-family: ruddy, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
  }

}

.feature-description {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 10rem;
}

.feature-description-2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 10rem;
}

.pricing-section {
  width: 100vw;
  align-items: center;
  justify-content: center;
  // margin-left: auto;

}

.pricing-cards {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pricing-card {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  } 
}

.list-group-flush {
  display: flex;
}

.basic-card {
  height: 4rem;
}

.card-footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #282c34;
  color: whitesmoke;
}